<link rel="stylesheet" href="/css/style.css" />
<div class="checkout">
  <div class="form-checkout">
    <h2 class="checkout-title">Checkout</h2>
    <p class="thank-you-message">
      ¡Gracias por tu compra,
      <span class="highlight">{{cliente}}</span>! El número de orden es:
      <span class="highlight">{{numTicket}}</span>
    </p>
    <p class="order-info">
      Te enviaremos un e-mail a
      <span class="highlight">{{email}}</span>
      con toda la información de tu orden.
    </p>
    <div class="btn-container">
      <a class="btn-checkout" href="/products">Tienda</a>
      <a class="btn-checkout" href="/api/users/profile">Mi Perfil</a>
    </div>
  </div>
</div>