<div class="background-container">
  <div class="overlay">
    <h2>Descubre la Esencia Natural en Yungas Herbal</h2>
    <p>Yungas Herbal es un lugar donde la naturaleza y el bienestar se
      encuentran. Cuidamos cada detalle para ofrecerte una selección única de
      velas aromáticas, tés artesanales, hierbas medicinales y aceites
      esenciales, seleccionados con dedicación para mejorar tu vida de forma
      natural.</p>

    {{#if isAuthenticated}}
      {{#unless this.isAdmin}}
        {{#unless this.isPremium}}
          <a href="/products" class="btn">Explora nuestra colección</a>
        {{/unless}}
      {{/unless}}
    {{else}}
      <a href="/register" class="btn">Regístrate y explora nuestra colección</a>
    {{/if}}
  </div>
</div>