<link rel="stylesheet" href="/css/style.css" />
<div class="form-container">
  <h2>Generar Nuevo Correo de Restablecimiento</h2>
  <form
    action="/api/users/requestPasswordReset"
    method="POST"
    class="formulario"
  >
    <div class="formulario-campo">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <button type="submit" class="btn">Enviar Correo de Restablecimiento</button>
  </form>
</div>
{{#if error}}
  <p class="error-message">{{error}}</p>
{{/if}}