<link rel="stylesheet" href="/css/style.css" />

<div class="profile-container">
  <h1>Mi Perfil</h1>

  <div class="profile-card">
    <p>Bienvenid@, {{user.firstName}} !</p>
    <p>Rol: {{user.role}}</p>

    <form action="/api/users/logout" method="POST">
      <button class="btnMios" type="submit">Logout</button>
    </form>

    <div class="btn-container">
      {{#if this.isAdmin}}
        <a class="btnMios" href="/realtimeproducts">Agregar Productos</a>
        <a class="btnMios" href="/usersView">Usuarios</a>
      {{else}}
        {{#if this.isPremium}}
          <a class="btnMios" href="/panel-premium">Panel Premium</a>
        {{else}}
          <a class="btnMios" href="/products">Tienda</a>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>