<link rel="stylesheet" href="/css/style.css" />

<div class="realtime-products-container">
  <h1 class="title">Real Time Products</h1>
  <h2 class="subtitle">Productos actualizados en tiempo real</h2>
  <div class="user-info">
    <h3 id="role" class="user-role">Rol: {{role}}</h3>
    <h3 id="email" class="user-email">Email: {{email}}</h3>
  </div>
</div>

<div id="contenedorProductos"></div>

<div class="form-container">
  <h2>Formulario para agregar productos</h2>
  <form class="formulario" id="productForm">
    <div class="formulario-campo">
      <input
        type="text"
        id="title"
        name="title"
        placeholder="Titulo"
        required
      />
    </div>
    <div class="formulario-campo">
      <input
        type="text"
        id="description"
        name="description"
        placeholder="Descripcion"
        required
      />
    </div>
    <div class="formulario-campo">
      <input
        type="number"
        id="price"
        name="price"
        placeholder="Precio"
        required
      />
    </div>
    <div class="formulario-campo">
      <input
        type="text"
        id="img"
        name="img"
        placeholder="Link imagen"
        required
      />
    </div>
    <div class="formulario-campo">
      <input type="text" id="code" name="code" placeholder="Código" required />
    </div>
    <div class="formulario-campo">
      <input
        type="number"
        id="stock"
        name="stock"
        placeholder="Stock"
        required
      />
    </div>
    <div class="formulario-campo">
      <input
        type="text"
        id="category"
        name="category"
        placeholder="Categoria"
        required
      />
    </div>
    <div class="formulario-campo">
      <select id="status" name="status" required>
        <option value="true"> Activo </option>
        <option value="false"> Inactivo </option>
      </select>
    </div>
    <button type="submit" class="btn">Enviar</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/realtime.js"></script>