<header class="site-header">
  <div class="nav-list">
    <nav id="navbarNav">
      <div class="brand">
        <h4>YUNGAS HERBAL</h4>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        {{#if isAuthenticated}}
          {{#unless this.isAdmin}}
            {{#unless this.isPremium}}
              <li><a href="/products">Colección</a></li>
            {{/unless}}
          {{/unless}}
          <li><a href="/api/users/profile">Mi Perfil</a></li>
          {{#if cartId}}
            <li><a href="/carts/{{cartId}}" class="ms-5"><i
                  class="bi bi-cart cart-icon"
                ></i></a></li>
          {{/if}}
        {{else}}
          {{#unless isInLoginPage}}
            <li><a href="/login">Iniciar Sesión</a></li>
          {{else}}
            <li><a href="/register">Registrarse</a></li>
          {{/unless}}
        {{/if}}
      </ul>
    </nav>
  </div>
</header>